<div class="jumbotron text-center">
  <h1>Web Community</h1>
  <p class="lead">Benvenuto nella Web Community</p>
  <div>
    <a *ngIf="authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <a *ngIf="authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
    <a routerLink="/blog" class="btn btn-default">Vai al blog</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-eu.ssl-images-amazon.com/images/I/31Lvd0L8xWL._SY264_BO1,204,203,200_QL40_ML2_.jpg" alt="placeholder image">
      <div class="caption">
        <h3>Il Rinoceronte</h3>
        <p>“Se è assolutamente necessario che l'arte o il teatro servano a qualche cosa, dirò che dovrebbero servire a insegnare alla gente che ci sono attività che non servono a niente, e che è indispensabile che ce ne siano.”<br>Il capolavoro del maestro dell'assurdo Eugène Ionesco</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="http://www.saltinaria.it/media/k2/items/cache/a745ec0a4f683ca5efa3f376df071af7_M.jpg" alt="Generic placeholder image">
      <div class=caption>
        <h3>Aspettando Godot</h3>
        <p>Il teatro dell'assurdo al suo apice<br>Un'opera firmata Samuel Beckett, il più assurdo drammaturgo irlandese</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://www.corriere.it/methode_image/2019/08/14/Cultura/Foto%20Cultura%20-%20Trattate/fo%20alta-kfEG-U31301781566581ZKG-656x492@Corriere-Web-Sezioni.jpg" alt="Generic placeholder image" height="300" width="300">
      <div class=caption>
        <h3>Mistero Buffo</h3>
        <p>"seguendo la tradizione dei giullari medievali, dileggia il potere restituendo la dignità agli oppressi."<br>Il capolavoro di Dario Fo, l'ultimo Nobel per la letteratura italiano</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://www.affaritaliani.it/static/upl2015/sei-/sei-personaggi10.jpg" alt="Generic placeholder image" height="300" width="300">
      <div class=caption>
        <h3>Sei personaggi in cerca d'autore</h3>
        <p>Il metateatro<br>Il teatro nel teatro<br>Il magnum opus di Luigi Pirandello</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="http://www.rossolevante.it/files/immagini/medium/inginocchio(1).jpg" alt="Generic placeholder image">
      <div class=caption>
        <h3>Caligola</h3>
        <p>Il capolavoro al quale Albert Camus ha lavorato per oltre 20 anni. Cosa fare della propria vita, quando il bisogno sconfinato di assoluto non trova risposte, quando si ama il mondo con la forza della disperazione, e con quella paura di perderlo che ne fa emergere ancora di più la bellezza?</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://www.skuola.net/news_foto/2018/goethe-faust.jpg" alt="Generic placeholder image" height="300" width="300">
      <div class=caption>
        <h3>Faust</h3>
        <p>Il dramma del Dottor Faust e del suo patto con Mefistofele. Il capolavoro di Goethe che ha influenzato il panorama ottocentesco europeo.</p>
      </div>
    </div>
  </div>
